# Importing libraries

In [163]:
import pandas as pd
import numpy as np
from scipy import stats as stats

# Loading data

In [164]:
table_button_a = pd.read_csv("C:/Users/Teun Heerze/OneDrive - UvA/Documenten/Semester 2 - BUILDING BLOCKS/Week 16/table_button_a_prelim.csv")
table_time_a = pd.read_csv("C:/Users/Teun Heerze/OneDrive - UvA/Documenten/Semester 2 - BUILDING BLOCKS/Week 16/table_time_a_prelim.csv")
table_button_b = pd.read_csv("C:/Users/Teun Heerze/OneDrive - UvA/Documenten/Semester 2 - BUILDING BLOCKS/Week 16/table_button_b_prelim.csv")
table_time_b = pd.read_csv("C:/Users/Teun Heerze/OneDrive - UvA/Documenten/Semester 2 - BUILDING BLOCKS/Week 16/table_time_b_prelim.csv")
qualtrics_data = pd.read_csv("C:/Users/Teun Heerze/OneDrive - UvA/Documenten/Semester 2 - BUILDING BLOCKS/Week 16/OpenGáta Website testing – Students_June 2, 2023_03.41.csv")

df_button_a = pd.DataFrame(table_button_a)
df_time_a = pd.DataFrame(table_time_a)
df_button_b = pd.DataFrame(table_button_b)
df_time_b = pd.DataFrame(table_time_b)

df_button_a = pd.DataFrame(table_button_a).dropna(subset="visitor_id")
df_time_a = pd.DataFrame(table_time_a).dropna(subset="visitor_id")
df_button_b = pd.DataFrame(table_button_b).dropna(subset="visitor_id")
df_time_b = pd.DataFrame(table_time_b).dropna(subset="visitor_id")

display(table_button_a)
display(table_time_a)
display(table_button_b)
display(table_time_b)
display(qualtrics_data)

    id    visitor_id  button                  name
0    1           NaN       1           Home navbar
1    2  2.186072e+09       1           Home navbar
2    3  1.132385e+09       1           Home navbar
3    4  2.186072e+09       1    Experiences navbar
4    5  2.186072e+09       1    Experiences navbar
..  ..           ...     ...                   ...
82  83  6.007374e+09       1            Learn More
83  84  6.007374e+09       1            OpenKAT.nl
84  85  6.007374e+09       1  About OpenKAT navbar
85  86  6.007374e+09       1    Experiences navbar
86  87  6.007374e+09       1   confirmation button

[87 rows x 4 columns]

    id    visitor_id           page  time_spent                  start_time
0    1  2.186072e+09       HomePage   75.421908  2023-05-27 06:25:28.342526
1    2  2.186072e+09    Experiences   13.720299  2023-05-27 06:26:43.789273
2    3  2.186072e+09    Experiences   46.740024  2023-05-27 06:26:57.535142
3    4  1.132385e+09    Experiences   70.120123  2023-05-27 06:27:44.313881
4    5  2.186072e+09        Contact    8.877504  2023-05-27 06:28:54.627331
..  ..           ...            ...         ...                         ...
62  63  6.007374e+09       HomePage   36.361528  2023-05-31 15:33:50.490571
63  64  6.007374e+09       HomePage    7.002658  2023-05-31 15:34:26.889441
64  65  6.007374e+09  About OpenKAT   49.650794  2023-05-31 15:34:33.919943
65  66  6.007374e+09     OpenKAT.nl   13.589744  2023-05-31 15:35:23.614401
66  67  6.007374e+09    Experiences   15.993847  2023-05-31 15:35:39.172992

[67 rows x 5 columns]

      id    visitor_id  button                  name
0      1  6.926267e+09       1           Home navbar
1      2  6.926267e+09       1            Learn More
2      3  6.926267e+09       1           Home navbar
3      4  6.926267e+09       1    Experiences navbar
4      5  6.926267e+09       1  About OpenKAT navbar
..   ...           ...     ...                   ...
120  121  7.569205e+09       1            Learn More
121  122  7.569205e+09       1        Contact navbar
122  123  7.569205e+09       1   confirmation button
123  124  7.569205e+09       1   confirmation button
124  125  7.569205e+09       1   confirmation button

[125 rows x 4 columns]

    id    visitor_id           page    time_spent                  start_time
0    1  6.926267e+09       HomePage      3.028742  2023-05-26 12:06:13.487789
1    2  6.926267e+09  About OpenKAT     24.794840  2023-05-26 12:06:16.576467
2    3  6.926267e+09       HomePage      5.780397  2023-05-26 12:06:41.403439
3    4  6.926267e+09    Experiences      3.907842  2023-05-26 12:06:47.212541
4    5  1.883521e+09  About OpenKAT  17973.526957  2023-05-26 12:06:51.158427
..  ..           ...            ...           ...                         ...
93  94  6.668270e+09    Experiences     22.790847  2023-05-31 23:30:12.268649
94  95  7.569205e+09       HomePage  35831.516775  2023-05-31 23:30:35.092050
95  96  7.569205e+09       HomePage     96.190591  2023-06-01 09:27:46.656927
96  97  7.569205e+09  About OpenKAT    114.862429  2023-06-01 09:29:22.903719
97  98  7.569205e+09        Contact     17.112603  2023-06-01 09:31:17.797045

[98 rows x 5 columns]

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Q1_3,Q1_4,Q1_5,Q2_1,Q2_2,Q2_3,Q2_4,Q3.1,Random ID,version
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Distribution Channel,User Language,...,Rate the following questions from 1 - Strongly...,Rate the following questions from 1 - Strongly...,Rate the following questions from 1 - Strongly...,Rate the following statements from 1 - Strongl...,Rate the following statements from 1 - Strongl...,Rate the following statements from 1 - Strongl...,Rate the following statements from 1 - Strongl...,To circumvent personal biases we are asking fo...,Random ID,version
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}",...,"{""ImportId"":""QID26_3""}","{""ImportId"":""QID26_4""}","{""ImportId"":""QID26_5""}","{""ImportId"":""QID27_1""}","{""ImportId"":""QID27_2""}","{""ImportId"":""QID27_3""}","{""ImportId"":""QID27_4""}","{""ImportId"":""QID11""}","{""ImportId"":""Random ID""}","{""ImportId"":""version""}"
2,2023-05-26 09:06:09,2023-05-26 09:09:48,IP Address,100,219,True,2023-05-26 09:09:50,R_12KgycD6yzLjNG5,anonymous,EN,...,1 - Strongly disagree,6 - Agree,7 - Strongly agree,1 - Strongly disagree,6 - Agree,1 - Strongly disagree,7 - Strongly agree,Green,1883520724,B
3,2023-05-26 22:23:07,2023-05-26 22:23:26,Spam,100,19,True,2023-05-26 22:23:27,R_25N4GaAj88TxKmm,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-05-26 22:23:59,2023-05-26 22:30:42,IP Address,100,403,True,2023-05-26 22:30:43,R_3qCClZLQQFJKMBJ,anonymous,EN,...,2 - Disagree,6 - Agree,6 - Agree,7 - Strongly agree,2 - Disagree,5 - Somewhat agree,3 - Somewhat disagree,Blue,2186071688,A
5,2023-05-26 22:16:58,2023-05-26 22:37:33,IP Address,100,1234,True,2023-05-26 22:37:35,R_22y8aTkXDcVgyJe,anonymous,EN,...,1 - Strongly disagree,4 - Neither agree nor disagree,7 - Strongly agree,2 - Disagree,6 - Agree,2 - Disagree,2 - Disagree,Red,1132385134,A
6,2023-05-30 03:42:52,2023-05-30 03:48:31,IP Address,100,338,True,2023-05-30 03:48:33,R_3s6oj3vbG2uFLKZ,anonymous,EN,...,4 - Neither agree nor disagree,4 - Neither agree nor disagree,6 - Agree,2 - Disagree,6 - Agree,2 - Disagree,5 - Somewhat agree,Green,9582549012,B
7,2023-05-30 07:45:16,2023-05-30 07:51:58,IP Address,100,401,True,2023-05-30 07:51:59,R_21oi1tdw96RwY3J,anonymous,EN,...,2 - Disagree,6 - Agree,7 - Strongly agree,1 - Strongly disagree,6 - Agree,1 - Strongly disagree,7 - Strongly agree,Purple,5601210324,A
8,2023-05-31 01:14:16,2023-05-31 01:16:37,IP Address,100,140,True,2023-05-31 01:16:38,R_zUq45vrdwIsv9rb,anonymous,EN,...,4 - Neither agree nor disagree,5 - Somewhat agree,5 - Somewhat agree,2 - Disagree,5 - Somewhat agree,5 - Somewhat agree,5 - Somewhat agree,Green,9179461501,A
9,2023-05-31 01:36:12,2023-05-31 01:38:43,IP Address,100,150,True,2023-05-31 01:38:43,R_RxE6PgapBDDJnlD,anonymous,NL,...,6 - Agree,7 - Strongly agree,4 - Neither agree nor disagree,6 - Agree,5 - Somewhat agree,5 - Somewhat agree,7 - Strongly agree,Black,9401823001,B
10,2023-05-31 01:36:32,2023-05-31 01:39:41,IP Address,100,188,True,2023-05-31 01:39:41,R_1kOj6EhyTEC7mas,anonymous,EN,...,3 - Somewhat disagree,5 - Somewhat agree,6 - Agree,2 - Disagree,5 - Somewhat agree,2 - Disagree,5 - Somewhat agree,Blue,3365977751,B
11,2023-05-31 01:38:48,2023-05-31 01:41:52,IP Address,100,183,True,2023-05-31 01:41:53,R_27JegKvda6RRYlZ,anonymous,EN,...,2 - Disagree,5 - Somewhat agree,5 - Somewhat agree,2 - Disagree,6 - Agree,2 - Disagree,6 - Agree,Pink,9911256304,A
12,2023-05-31 03:31:08,2023-05-31 03:34:07,IP Address,100,178,True,2023-05-31 03:34:08,R_2Tv2duSTI7G3T9P,anonymous,EN,...,1 - Strongly disagree,6 - Agree,4 - Neither agree nor disagree,1 - Strongly disagree,7 - Strongly agree,1 - Strongly disagree,7 - Strongly agree,Orange,7048433964,A
13,2023-05-31 03:30:37,2023-05-31 03:34:29,IP Address,100,231,True,2023-05-31 03:34:29,R_2TnjMnB5RVxEDgu,anonymous,EN,...,4 - Neither agree nor disagree,3 - Somewhat disagree,4 - Neither agree nor disagree,5 - Somewhat agree,3 - Somewhat disagree,5 - Somewhat agree,3 - Somewhat disagree,Orange,5766792486,B
14,2023-05-31 03:33:04,2023-05-31 03:37:34,IP Address,100,269,True,2023-05-31 03:37:35,R_4TrsxWz74zq0rCx,anonymous,NL,...,4 - Neither agree nor disagree,2 - Disagree,5 - Somewhat agree,5 - Somewhat agree,5 - Somewhat agree,5 - Somewhat agree,3 - Somewhat disagree,Red,1983828692,B
15,2023-05-31 03:36:40,2023-05-31 03:38:53,IP Address,100,132,True,2023-05-31 03:38:53,R_1ltcpsd04ryNCTO,anonymous,EN,...,3 - Somewhat disagree,5 - Somewhat agree,5 - Somewhat agree,5 - Somewhat agree,3 - Somewhat disagree,6 - Agree,5 - Somewhat agree,Purple,6750462526,B
16,2023-05-31 03:49:13,2023-05-31 03:54:56,IP Address,100,343,True,2023-05-31 03:54:57,R_3haozAnT5xLmghL,anonymous,EN,...,3 - Somewhat disagree,5 - Somewhat agree,6 - Agree,2 - Disagree,6 - Agree,2 - Disagree,5 - Somewhat agree,Blue,8134190045,A
17,2023-05-31 03:53:15,2023-05-31 04:00:20,IP Address,100,424,True,2023-05-31 04:00:21,R_1kSpkWGw2lDSwwp,anonymous,EN,...,4 - Neither agree nor disagree,3 - Somewhat disagree,5 - Somewhat agree,2 - Disagree,7 - Strongly agree,1 - Strongly disagree,6 - Agree,Green,3687862824,B
18,2023-05-31 04:16:59,2023-05-31 04:17:18,IP Address,100,19,True,2023-05-31 04:17:19,R_2ymgSFkVtvIxh2l,anonymous,EN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2023-05-31 04:15:39,2023-05-31 04:19:43,IP Address,100,244,True,2023-05-31 04:19:45,R_p6NM3mygcr6LDTb,anonymous,EN,...,4 - Neither agree nor disagree,4 - Neither agree nor disagree,4 - Neither agree nor disagree,4 - Neither agree nor disagree,4 - Neither agree nor disagree,4 - Neither agree nor disagree,4 - Neither agree nor disagree,Green,1011199217,A
20,2023-05-31 04:42:38,2023-05-31 04:45:42,IP Address,100,184,True,2023-05-31 04:45:43,R_3pnzUrWTaDeC70u,anonymous,EN,...,5 - Somewhat agree,5 - Somewhat agree,5 - Somewhat agree,2 - Disagree,6 - Agree,4 - Neither agree nor disagree,7 - Strongly agree,Red,8641616660,B
21,2023-05-31 06:04:43,2023-05-31 06:09:26,IP Address,100,282,True,2023-05-31 06:09:27,R_wNP5oEz3MyrMjEl,anonymous,EN,...,4 - Neither agree nor disagree,4 - Neither agree nor disagree,4 - Neither agree nor disagree,3 - Somewhat disagree,3 - Somewhat disagree,3 - Somewhat disagree,3 - Somewhat disagree,Green,7455998308,A
22,2023-05-31 06:28:27,2023-05-31 06:32:07,IP Address,100,220,True,2023-05-31 06:32:08,R_PLmoeHIMl7QqJVL,anonymous,EN,...,4 - Neither agree nor disagree,4 - Neither agree nor disagree,6 - Agree,3 - Somewhat disagree,4 - Neither agree nor disagree,2 - Disagree,3 - Somewhat disagree,Green,8762148880,B
23,2023-05-31 07:33:32,2023-05-31 07:37:57,IP Address,100,264,True,2023-05-31 07:37:57,R_234BktNXEnFF54m,anonymous,EN,...,2 - Disagree,6 - Agree,6 - Agree,2 - Disagree,7 - Strongly agree,1 - Strongly disagree,7 - Strongly agree,Blue,6007373886,A
24,2023-05-31 13:35:06,2023-05-31 15:33:14,IP Address,100,7087,True,2023-05-31 15:33:14,R_1mJle0L1DH0bpuA,anonymous,EN,...,1 - Strongly disagree,6 - Agree,7 - Strongly agree,2 - Disagree,6 - Agree,1 - Strongly disagree,7 - Strongly agree,Purple,6668270177,B
25,2023-06-01 01:24:51,2023-06-01 01:35:00,IP Address,100,608,True,2023-06-01 01:35:01,R_2scgx1daBdfkrVy,anonymous,EN,...,2 - Disagree,6 - Agree,6 - Agree,1 - Strongly disagree,6 - Agree,1 - Strongly disagree,7 - Strongly agree,Blue,7569205443,B

# Excluding outliers

In [165]:
def outliers(df, column, normal):
    column = str(column)

    if normal == True:
        std = np.std(df[column])
        mean = np.mean(df[column])

        upper_lim = mean + 3*std
        lower_lim = mean - 3*std

        df_no_outliers = df[(df[column] < upper_lim) & (df[column] > lower_lim)]
        return df_no_outliers
    
    elif normal == False:
        df_sorted = df.sort_values(by=[column], ascending=True)

        q1 = df_sorted[column].quantile(0.25)
        q3 = df_sorted[column].quantile(0.75)
        iqr = q3-q1

        upper_lim = q3 + 1.5*iqr
        lower_lim = q1 - 1.5*iqr

        print(f"q1 = {q1}, q3 = {q3}, iqr = {iqr}, upper bound = {upper_lim}, lower bound = {lower_lim}")

        df_sorted = df_sorted.sort_values(by=["id"], ascending=True)

        df_no_outliers = df_sorted[(df_sorted[column] < upper_lim) & (df_sorted[column] > lower_lim)]
        return df_no_outliers

### Time spent

In [166]:
df_time_a = outliers(df=df_time_a, column="time_spent", normal=False)
display(df_time_a)

df_time_b = outliers(df=df_time_b, column="time_spent", normal=False)
display(df_time_b)

q1 = 5.7300605, q3 = 25.863027000000002, iqr = 20.132966500000002, upper bound = 56.06247675, lower bound = -24.469389250000003

    id    visitor_id            page  time_spent                  start_time
1    2  2.186072e+09     Experiences   13.720299  2023-05-27 06:26:43.789273
2    3  2.186072e+09     Experiences   46.740024  2023-05-27 06:26:57.535142
4    5  2.186072e+09         Contact    8.877504  2023-05-27 06:28:54.627331
5    6  1.132385e+09     Experiences    3.979041  2023-05-27 06:29:03.533334
6    7  2.186072e+09     Experiences    2.429193  2023-05-27 06:29:07.931100
7    8  2.186072e+09   About OpenKAT   10.407378  2023-05-27 06:29:10.387710
8    9  2.186072e+09     Experiences    4.783300  2023-05-27 06:29:20.830081
9   10  1.132385e+09         Contact   11.581243  2023-05-27 06:29:25.652505
10  11  2.186072e+09          bdo.nl   17.650241  2023-05-27 06:29:37.262526
11  12  1.132385e+09    kennisnet.nl   11.194083  2023-05-27 06:29:55.308490
12  13  1.132385e+09     Experiences    6.957511  2023-05-27 06:30:06.524343
13  14  1.132385e+09         Contact   19.766981  2023-05-27 06:30:13.506211
14  15  1.132385e+09     HomePage NL    5.831309  2023-05-27 06:30:33.298573
15  16  1.132385e+09        HomePage    6.177790  2023-05-27 06:30:39.169688
17  18  5.601210e+09        HomePage   47.062117  2023-05-30 15:46:08.928986
19  20  5.601210e+09     Experiences   23.415246  2023-05-30 15:48:16.256064
20  21  5.601210e+09      OpenKAT.nl   13.313158  2023-05-30 15:48:39.708325
21  22  5.601210e+09         Contact   14.117335  2023-05-30 15:48:53.057001
22  23  5.601210e+09        HomePage   17.244792  2023-05-30 15:49:07.202618
23  24  5.601210e+09   About OpenKAT   31.993370  2023-05-30 15:49:24.474431
24  25  9.179462e+09        HomePage   32.269564  2023-05-31 09:14:52.859923
25  26  9.179462e+09     Experiences    9.373174  2023-05-31 09:15:25.165032
27  28  9.911256e+09        HomePage    4.658903  2023-05-31 09:39:07.279142
28  29  9.911256e+09     Experiences    2.202727  2023-05-31 09:39:11.961117
29  30  9.911256e+09      OpenKAT.nl    5.696311  2023-05-31 09:39:14.189179
30  31  9.911256e+09     HomePage NL    3.926659  2023-05-31 09:39:19.923869
31  32  9.911256e+09      Contact NL    3.692311  2023-05-31 09:39:23.871804
32  33  9.911256e+09  Experiences NL    2.480673  2023-05-31 09:39:27.587802
34  35  4.524892e+09        HomePage    3.337861  2023-05-31 11:31:42.755877
35  36  7.048434e+09        HomePage    6.773808  2023-05-31 11:31:46.118988
36  37  4.524892e+09   About OpenKAT    8.405470  2023-05-31 11:31:52.920647
37  38  4.524892e+09         Contact   21.635041  2023-05-31 11:32:01.349682
38  39  7.048434e+09     Experiences   17.444382  2023-05-31 11:32:23.010166
39  40  7.048434e+09     Experiences    9.219179  2023-05-31 11:32:40.474693
40  41  7.048434e+09     Experiences    3.078982  2023-05-31 11:32:49.716591
41  42  7.048434e+09     Experiences    3.785685  2023-05-31 11:32:54.594331
42  43  7.048434e+09   About OpenKAT    2.088326  2023-05-31 11:33:00.344081
43  44  7.048434e+09     HomePage NL    2.896929  2023-05-31 11:33:02.456830
44  45  4.524892e+09      OpenKAT.nl   20.395441  2023-05-31 11:33:15.135588
45  46  4.524892e+09   About OpenKAT    3.113263  2023-05-31 11:33:35.553015
47  48  8.134190e+09        HomePage   32.702821  2023-05-31 11:49:44.838092
48  49  8.134190e+09   About OpenKAT    9.949738  2023-05-31 11:50:17.581814
49  50  8.134190e+09     Experiences   12.956536  2023-05-31 11:50:27.563937
50  51  8.134190e+09      OpenKAT.nl    6.558301  2023-05-31 11:50:40.545195
51  52  8.134190e+09     HomePage NL    4.385980  2023-05-31 11:50:47.128548
54  55  3.359848e+09   About OpenKAT   31.744146  2023-05-31 12:09:38.127428
55  56  7.455998e+09        HomePage   14.748318  2023-05-31 14:05:02.227516
56  57  7.455998e+09   About OpenKAT    8.294692  2023-05-31 14:05:17.006152
57  58  7.455998e+09     Experiences   10.986702  2023-05-31 14:05:25.331379
58  59  7.455998e+09         Contact    7.244092  2023-05-31 14:05:36.500252
59  60  7.455998e+09         Contact   15.433324  2023-05-31 14:05:43.832238
60  61  7.455998e+09   About OpenKAT   26.678954  2023-05-31 14:05:59.326270
61  62  7.455998e+09         Contact    5.402889  2023-05-31 14:06:26.047077
62  63  6.007374e+09        HomePage   36.361528  2023-05-31 15:33:50.490571
63  64  6.007374e+09        HomePage    7.002658  2023-05-31 15:34:26.889441
64  65  6.007374e+09   About OpenKAT   49.650794  2023-05-31 15:34:33.919943
65  66  6.007374e+09      OpenKAT.nl   13.589744  2023-05-31 15:35:23.614401
66  67  6.007374e+09     Experiences   15.993847  2023-05-31 15:35:39.172992

    id    visitor_id           page    time_spent                  start_time
0    1  6.926267e+09       HomePage      3.028742  2023-05-26 12:06:13.487789
1    2  6.926267e+09  About OpenKAT     24.794840  2023-05-26 12:06:16.576467
2    3  6.926267e+09       HomePage      5.780397  2023-05-26 12:06:41.403439
3    4  6.926267e+09    Experiences      3.907842  2023-05-26 12:06:47.212541
4    5  1.883521e+09  About OpenKAT  17973.526957  2023-05-26 12:06:51.158427
..  ..           ...            ...           ...                         ...
93  94  6.668270e+09    Experiences     22.790847  2023-05-31 23:30:12.268649
94  95  7.569205e+09       HomePage  35831.516775  2023-05-31 23:30:35.092050
95  96  7.569205e+09       HomePage     96.190591  2023-06-01 09:27:46.656927
96  97  7.569205e+09  About OpenKAT    114.862429  2023-06-01 09:29:22.903719
97  98  7.569205e+09        Contact     17.112603  2023-06-01 09:31:17.797045

[92 rows x 5 columns]

q1 = 6.16991525, q3 = 37.4582965, iqr = 31.288381250000004, upper bound = 84.39086837500001, lower bound = -40.762656625000005

    id    visitor_id           page  time_spent                  start_time
0    1  6.926267e+09       HomePage    3.028742  2023-05-26 12:06:13.487789
1    2  6.926267e+09  About OpenKAT   24.794840  2023-05-26 12:06:16.576467
2    3  6.926267e+09       HomePage    5.780397  2023-05-26 12:06:41.403439
3    4  6.926267e+09    Experiences    3.907842  2023-05-26 12:06:47.212541
5    6  1.883521e+09       HomePage   38.449408  2023-05-26 17:06:24.728281
..  ..           ...            ...         ...                         ...
90  91  6.668270e+09        Contact   41.969724  2023-05-31 23:29:19.295152
91  92  6.668270e+09  About OpenKAT    6.200756  2023-05-31 23:30:01.295062
92  93  6.668270e+09        Contact    4.729831  2023-05-31 23:30:07.520651
93  94  6.668270e+09    Experiences   22.790847  2023-05-31 23:30:12.268649
97  98  7.569205e+09        Contact   17.112603  2023-06-01 09:31:17.797045

[76 rows x 5 columns]

# Reshaping data

### User Tracking

In [167]:
#transformin from long to wide

df_button_wide_a = pd.pivot_table(data=df_button_a, index = "visitor_id", columns = "name", values = "button")
df_time_wide_a = pd.pivot_table(df_time_a, index = "visitor_id", columns = "page", values="time_spent")
df_button_wide_b = pd.pivot_table(df_button_b, index = "visitor_id", columns = "name", values = "button")
df_time_wide_b = pd.pivot_table(df_time_b, index = "visitor_id", columns = "page", values="time_spent")

df_button_wide_a = df_button_wide_a.reset_index()
df_time_wide_a = df_time_wide_a.reset_index()
df_button_wide_b = df_button_wide_b.reset_index()
df_time_wide_b = df_time_wide_b.reset_index()

display(df_button_wide_a)
display(df_time_wide_a)
display(df_button_wide_b)
display(df_time_wide_b)

name,visitor_id,About OpenKAT navbar,Contact navbar,Contact navbar NL,English button,Experiences navbar,Experiences navbar NL,Get in Touch,Home navbar,Learn More,Nederlands button,OpenKAT.nl,bdo.nl,confirmation button,kennisnet.nl
0,1.132385e+09,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0
1,2.186072e+09,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
2,3.359848e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN
3,4.524892e+09,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN
4,5.601210e+09,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
5,6.007374e+09,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
6,7.048434e+09,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,NaN
7,7.455998e+09,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN
8,8.134190e+09,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN
9,9.179462e+09,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
10,9.911256e+09,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN

page,visitor_id,About OpenKAT,Contact,Contact NL,Experiences,Experiences NL,HomePage,HomePage NL,OpenKAT.nl,bdo.nl,kennisnet.nl
0,1.132385e+09,NaN,15.674112,NaN,5.468276,NaN,6.177790,5.831309,NaN,NaN,11.194083
1,2.186072e+09,10.407378,8.877504,NaN,16.918204,NaN,NaN,NaN,NaN,17.650241,NaN
2,3.359848e+09,31.744146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.524892e+09,5.759366,21.635041,NaN,NaN,NaN,3.337861,NaN,20.395441,NaN,NaN
4,5.601210e+09,31.993370,14.117335,NaN,23.415246,NaN,32.153455,NaN,13.313158,NaN,NaN
5,6.007374e+09,49.650794,NaN,NaN,15.993847,NaN,21.682093,NaN,13.589744,NaN,NaN
6,7.048434e+09,2.088326,NaN,NaN,8.382057,NaN,6.773808,2.896929,NaN,NaN,NaN
7,7.455998e+09,17.486823,9.360102,NaN,10.986702,NaN,14.748318,NaN,NaN,NaN,NaN
8,8.134190e+09,9.949738,NaN,NaN,12.956536,NaN,32.702821,4.385980,6.558301,NaN,NaN
9,9.179462e+09,NaN,NaN,NaN,9.373174,NaN,32.269564,NaN,NaN,NaN,NaN
10,9.911256e+09,NaN,NaN,3.692311,2.202727,2.480673,4.658903,3.926659,5.696311,NaN,NaN

name,visitor_id,About OpenKAT navbar,About OpenKAT navbar NL,Contact navbar,Contact navbar NL,English button,Experiences navbar,Experiences navbar NL,Get in Touch,Home navbar,...,LinkedIn Group,Nederlands button,OpenKAT.nl,bdo.nl,bravisziekenhuis.nl,catharinaziekenhuis.nl,confirmation button,government.nl,kennisnet.nl,sdbgroep.nl
0,1.883521e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,1.983829e+09,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,3.144714e+09,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN
3,3.365978e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,3.687863e+09,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
5,5.766792e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
6,6.668270e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6.750463e+09,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
8,6.926267e+09,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7.569205e+09,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,8.762149e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
11,9.401823e+09,NaN,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0
12,9.582549e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN

page,visitor_id,About OpenKAT,About OpenKAT NL,Contact,Contact NL,Experiences,Experiences NL,HomePage,HomePage NL,LinkedIn Group,OpenKAT.nl,bdo.nl,bravisziekenhuis.nl,catharinaziekenhuis.nl,government.nl,kennisnet.nl,sdbgroep.nl
0,1.883521e+09,37.127926,NaN,7.975536,NaN,13.480628,NaN,38.449408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.983829e+09,11.118904,9.403935,17.755520,6.304111,NaN,NaN,58.151423,13.010475,NaN,10.499414,NaN,NaN,NaN,NaN,NaN,NaN
2,3.144714e+09,10.900813,NaN,19.482185,NaN,10.032553,NaN,33.524532,NaN,NaN,19.466913,NaN,18.259844,33.274305,33.51464,NaN,NaN
3,3.365978e+09,3.345437,NaN,8.760455,NaN,2.419582,NaN,12.689314,NaN,NaN,8.182042,NaN,NaN,NaN,NaN,NaN,6.378066
4,3.687863e+09,16.854685,NaN,NaN,NaN,23.529195,NaN,30.268342,NaN,17.481556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.766792e+09,21.411908,NaN,NaN,NaN,NaN,NaN,48.491802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.668270e+09,9.555843,NaN,23.349777,NaN,13.340687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6.750463e+09,11.611784,NaN,NaN,NaN,4.125776,NaN,46.448458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6.926267e+09,24.794840,NaN,NaN,NaN,3.907842,NaN,4.404570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7.569205e+09,NaN,NaN,17.112603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8.762149e+09,11.713381,NaN,NaN,NaN,NaN,NaN,20.861895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,9.401823e+09,3.904360,NaN,NaN,NaN,9.477847,4.60817,NaN,3.127893,10.634569,NaN,NaN,NaN,NaN,NaN,4.323427,NaN
12,9.582549e+09,5.352509,NaN,5.363084,NaN,9.925292,NaN,20.701628,NaN,11.522811,5.339183,3.955038,NaN,NaN,NaN,NaN,NaN

### Qualtrics data

In [168]:
# Cleaning qualtrics data
qualtrics_data = qualtrics_data.drop(qualtrics_data.columns[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]], axis=1)

qualtrics_data = qualtrics_data.replace("7 - Strongly agree", 7)
qualtrics_data = qualtrics_data.replace("6 - Agree", 6)
qualtrics_data = qualtrics_data.replace("5 - Somewhat agree", 5)
qualtrics_data = qualtrics_data.replace("4 - Neither agree nor disagree", 4)
qualtrics_data = qualtrics_data.replace("3 - Somewhat disagree", 3)
qualtrics_data = qualtrics_data.replace("2 - Disagree", 2)
qualtrics_data = qualtrics_data.replace("1 - Strongly disagree", 1)

# Seperating the data of A/B versions & inverting questions worded differently on the Likert Scale
df_qualtrics_a = qualtrics_data[qualtrics_data['version'] == 'A']
df_qualtrics_b = qualtrics_data[qualtrics_data['version'] == 'B']

df_qualtrics_a.reset_index()
df_qualtrics_b.reset_index()

display(df_qualtrics_a)
display(df_qualtrics_b)

# Easy to use questions
df_a_easy = df_qualtrics_a.iloc[:,[1, 6, 7, 10]]
df_b_easy = df_qualtrics_b.iloc[:,[1, 6, 7, 10,]]

df_a_easy.iloc[:, 2] = 8 - df_a_easy.iloc[:, 2]
df_b_easy.iloc[:, 2] = 8 - df_b_easy.iloc[:, 2]

# Trust questions
df_a_trust = df_qualtrics_a.iloc[:,[3, 4, 5, 10]]
df_b_trust = df_qualtrics_b.iloc[:,[3, 4, 5, 10]]

df_a_trust.iloc[:, 1:3] = 8 - df_a_trust.iloc[:, 1:3]
df_b_trust.iloc[:, 1:3] = 8 - df_b_trust.iloc[:, 1:3]

# Informative website questions
df_a_info = df_qualtrics_a.iloc[:,[2, 8, 9, 10]]
df_b_info = df_qualtrics_b.iloc[:,[2, 8, 9, 10]]

df_a_info.iloc[:, [0, 2]] = 8 - df_a_info.iloc[:, [0, 2]]
df_b_info.iloc[:, [0, 2]] = 8 - df_b_info.iloc[:, [0, 2]]

,Q4_8_TEXT,Q1_1,Q1_2,Q1_3,Q1_4,Q1_5,Q2_1,Q2_2,Q2_3,Q2_4,Q3.1,Random ID,version
4,NaN,1,6,2,6,6,7,2,5,3,Blue,2186071688,A
5,NaN,1,3,1,4,7,2,6,2,2,Red,1132385134,A
7,NaN,1,5,2,6,7,1,6,1,7,Purple,5601210324,A
8,NaN,2,3,4,5,5,2,5,5,5,Green,9179461501,A
11,NaN,2,5,2,5,5,2,6,2,6,Pink,9911256304,A
12,NaN,1,4,1,6,4,1,7,1,7,Orange,7048433964,A
16,NaN,2,3,3,5,6,2,6,2,5,Blue,8134190045,A
19,NaN,1,4,4,4,4,4,4,4,4,Green,1011199217,A
21,NaN,3,5,4,4,4,3,3,3,3,Green,7455998308,A
23,NaN,1,4,2,6,6,2,7,1,7,Blue,6007373886,A

,Q4_8_TEXT,Q1_1,Q1_2,Q1_3,Q1_4,Q1_5,Q2_1,Q2_2,Q2_3,Q2_4,Q3.1,Random ID,version
2,NaN,1,6,1,6,7,1,6,1,7,Green,1883520724,B
6,NaN,2,6,4,4,6,2,6,2,5,Green,9582549012,B
9,NaN,6,5,6,7,4,6,5,5,7,Black,9401823001,B
10,NaN,2,5,3,5,6,2,5,2,5,Blue,3365977751,B
13,NaN,2,3,4,3,4,5,3,5,3,Orange,5766792486,B
14,NaN,2,1,4,2,5,5,5,5,3,Red,1983828692,B
15,NaN,3,5,3,5,5,5,3,6,5,Purple,6750462526,B
17,NaN,1,6,4,3,5,2,7,1,6,Green,3687862824,B
20,NaN,1,5,5,5,5,2,6,4,7,Red,8641616660,B
22,NaN,3,5,4,4,6,3,4,2,3,Green,8762148880,B
24,NaN,2,7,1,6,7,2,6,1,7,Purple,6668270177,B
25,NaN,1,6,2,6,6,1,6,1,7,Blue,7569205443,B

C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\1144635948.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a_easy.iloc[:, 2] = 8 - df_a_easy.iloc[:, 2]
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\1144635948.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b_easy.iloc[:, 2] = 8 - df_b_easy.iloc[:, 2]
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\1144635948.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a_trust.iloc[:, 1:3] = 8 - df_a_trust.iloc[:, 1:3]
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\1144635948.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b_trust.iloc[:, 1:3] = 8 - df_b_trust.iloc[:, 1:3]
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\1144635948.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_a_info.iloc[:, [0, 2]] = 8 - df_a_info.iloc[:, [0, 2]]
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\1144635948.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_b_info.iloc[:, [0, 2]] = 8 - df_b_info.iloc[:, [0, 2]]

In [169]:
display(df_a_easy)
display(df_b_easy)

display(df_a_trust)
display(df_b_trust)

display(df_a_info)
display(df_b_info)

   Q1_1 Q2_1 Q2_2    Q3.1
4     1    7    6    Blue
5     1    2    2     Red
7     1    1    2  Purple
8     2    2    3   Green
11    2    2    2    Pink
12    1    1    1  Orange
16    2    2    2    Blue
19    1    4    4   Green
21    3    3    5   Green
23    1    2    1    Blue

   Q1_1 Q2_1 Q2_2    Q3.1
2     1    1    2   Green
6     2    2    2   Green
9     6    6    3   Black
10    2    2    3    Blue
13    2    5    5  Orange
14    2    5    3     Red
15    3    5    5  Purple
17    1    2    1   Green
20    1    2    2     Red
22    3    3    4   Green
24    2    2    2  Purple
25    1    1    2    Blue

   Q1_3 Q1_4 Q1_5    Q3.1
4     2    2    2    Blue
5     1    4    1     Red
7     2    2    1  Purple
8     4    3    3   Green
11    2    3    3    Pink
12    1    2    4  Orange
16    3    3    2    Blue
19    4    4    4   Green
21    4    4    4   Green
23    2    2    2    Blue

   Q1_3 Q1_4 Q1_5    Q3.1
2     1    2    1   Green
6     4    4    2   Green
9     6    1    4   Black
10    3    3    2    Blue
13    4    5    4  Orange
14    4    6    3     Red
15    3    3    3  Purple
17    4    5    3   Green
20    5    3    3     Red
22    4    4    2   Green
24    1    2    1  Purple
25    2    2    2    Blue

   Q1_2 Q2_3 Q2_4    Q3.1
4     2    5    5    Blue
5     5    2    6     Red
7     3    1    1  Purple
8     5    5    3   Green
11    3    2    2    Pink
12    4    1    1  Orange
16    5    2    3    Blue
19    4    4    4   Green
21    3    3    5   Green
23    4    1    1    Blue

   Q1_2 Q2_3 Q2_4    Q3.1
2     2    1    1   Green
6     2    2    3   Green
9     3    5    1   Black
10    3    2    3    Blue
13    5    5    5  Orange
14    7    5    5     Red
15    3    6    3  Purple
17    2    1    2   Green
20    3    4    1     Red
22    3    2    5   Green
24    1    1    1  Purple
25    2    1    1    Blue

# Adding total scores

### User tracking

In [170]:
def addtotal(dataframe):
    dataframe["Total"] = dataframe.drop("visitor_id", axis=1).sum(axis="columns")
    return dataframe

df_button_wide_a = addtotal(df_button_wide_a)
df_time_wide_a = addtotal(df_time_wide_a)
df_button_wide_b = addtotal(df_button_wide_b)
df_time_wide_b = addtotal(df_time_wide_b)

display(df_button_wide_a)
display(df_time_wide_a)
display(df_button_wide_b)
display(df_time_wide_b)

name,visitor_id,About OpenKAT navbar,Contact navbar,Contact navbar NL,English button,Experiences navbar,Experiences navbar NL,Get in Touch,Home navbar,Learn More,Nederlands button,OpenKAT.nl,bdo.nl,confirmation button,kennisnet.nl,Total
0,1.132385e+09,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,8.0
1,2.186072e+09,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,6.0
2,3.359848e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,3.0
3,4.524892e+09,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,5.0
4,5.601210e+09,1.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,7.0
5,6.007374e+09,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN,6.0
6,7.048434e+09,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,NaN,7.0
7,7.455998e+09,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,6.0
8,8.134190e+09,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,7.0
9,9.179462e+09,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0
10,9.911256e+09,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,7.0

page,visitor_id,About OpenKAT,Contact,Contact NL,Experiences,Experiences NL,HomePage,HomePage NL,OpenKAT.nl,bdo.nl,kennisnet.nl,Total
0,1.132385e+09,NaN,15.674112,NaN,5.468276,NaN,6.177790,5.831309,NaN,NaN,11.194083,44.345570
1,2.186072e+09,10.407378,8.877504,NaN,16.918204,NaN,NaN,NaN,NaN,17.650241,NaN,53.853327
2,3.359848e+09,31.744146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.744146
3,4.524892e+09,5.759366,21.635041,NaN,NaN,NaN,3.337861,NaN,20.395441,NaN,NaN,51.127710
4,5.601210e+09,31.993370,14.117335,NaN,23.415246,NaN,32.153455,NaN,13.313158,NaN,NaN,114.992563
5,6.007374e+09,49.650794,NaN,NaN,15.993847,NaN,21.682093,NaN,13.589744,NaN,NaN,100.916478
6,7.048434e+09,2.088326,NaN,NaN,8.382057,NaN,6.773808,2.896929,NaN,NaN,NaN,20.141120
7,7.455998e+09,17.486823,9.360102,NaN,10.986702,NaN,14.748318,NaN,NaN,NaN,NaN,52.581945
8,8.134190e+09,9.949738,NaN,NaN,12.956536,NaN,32.702821,4.385980,6.558301,NaN,NaN,66.553376
9,9.179462e+09,NaN,NaN,NaN,9.373174,NaN,32.269564,NaN,NaN,NaN,NaN,41.642738
10,9.911256e+09,NaN,NaN,3.692311,2.202727,2.480673,4.658903,3.926659,5.696311,NaN,NaN,22.657584

name,visitor_id,About OpenKAT navbar,About OpenKAT navbar NL,Contact navbar,Contact navbar NL,English button,Experiences navbar,Experiences navbar NL,Get in Touch,Home navbar,...,Nederlands button,OpenKAT.nl,bdo.nl,bravisziekenhuis.nl,catharinaziekenhuis.nl,confirmation button,government.nl,kennisnet.nl,sdbgroep.nl,Total
0,1.883521e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,5.0
1,1.983829e+09,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,8.0
2,3.144714e+09,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,...,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,10.0
3,3.365978e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,7.0
4,3.687863e+09,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,5.0
5,5.766792e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0
6,6.668270e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
7,6.750463e+09,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0
8,6.926267e+09,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
9,7.569205e+09,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0
10,8.762149e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0
11,9.401823e+09,NaN,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0,13.0
12,9.582549e+09,1.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,9.0

page,visitor_id,About OpenKAT,About OpenKAT NL,Contact,Contact NL,Experiences,Experiences NL,HomePage,HomePage NL,LinkedIn Group,OpenKAT.nl,bdo.nl,bravisziekenhuis.nl,catharinaziekenhuis.nl,government.nl,kennisnet.nl,sdbgroep.nl,Total
0,1.883521e+09,37.127926,NaN,7.975536,NaN,13.480628,NaN,38.449408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.033498
1,1.983829e+09,11.118904,9.403935,17.755520,6.304111,NaN,NaN,58.151423,13.010475,NaN,10.499414,NaN,NaN,NaN,NaN,NaN,NaN,126.243782
2,3.144714e+09,10.900813,NaN,19.482185,NaN,10.032553,NaN,33.524532,NaN,NaN,19.466913,NaN,18.259844,33.274305,33.51464,NaN,NaN,178.455785
3,3.365978e+09,3.345437,NaN,8.760455,NaN,2.419582,NaN,12.689314,NaN,NaN,8.182042,NaN,NaN,NaN,NaN,NaN,6.378066,41.774896
4,3.687863e+09,16.854685,NaN,NaN,NaN,23.529195,NaN,30.268342,NaN,17.481556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.133778
5,5.766792e+09,21.411908,NaN,NaN,NaN,NaN,NaN,48.491802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.903710
6,6.668270e+09,9.555843,NaN,23.349777,NaN,13.340687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.246308
7,6.750463e+09,11.611784,NaN,NaN,NaN,4.125776,NaN,46.448458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.186018
8,6.926267e+09,24.794840,NaN,NaN,NaN,3.907842,NaN,4.404570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.107252
9,7.569205e+09,NaN,NaN,17.112603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.112603
10,8.762149e+09,11.713381,NaN,NaN,NaN,NaN,NaN,20.861895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.575276
11,9.401823e+09,3.904360,NaN,NaN,NaN,9.477847,4.60817,NaN,3.127893,10.634569,NaN,NaN,NaN,NaN,NaN,4.323427,NaN,36.076267
12,9.582549e+09,5.352509,NaN,5.363084,NaN,9.925292,NaN,20.701628,NaN,11.522811,5.339183,3.955038,NaN,NaN,NaN,NaN,NaN,62.159545

### Qualtrics

In [171]:
def addtotal(dataframe):
    dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")
    return dataframe

df_a_easy = addtotal(df_a_easy)
df_b_easy = addtotal(df_b_easy)

df_a_trust = addtotal(df_a_trust)
df_b_trust = addtotal(df_b_trust)

df_a_info = addtotal(df_a_info)
df_b_info = addtotal(df_b_info)

df_a_easy = df_a_easy.reset_index()
df_b_easy = df_b_easy.reset_index()

df_a_trust = df_a_trust.reset_index()
df_b_trust = df_b_trust.reset_index()

df_a_info = df_a_info.reset_index()
df_b_info = df_b_info.reset_index()

display(df_a_easy)
display(df_b_easy)
display(df_a_trust)
display(df_b_trust)
display(df_a_info)
display(df_b_info)

C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\3703147539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\3703147539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\3703147539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\3703147539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\3703147539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")
C:\Users\Teun Heerze\AppData\Local\Temp\ipykernel_4464\3703147539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe["Total"] = dataframe.drop("Q3.1", axis=1).sum(axis="columns")

   index Q1_1 Q2_1 Q2_2    Q3.1  Total
0      4    1    7    6    Blue   14.0
1      5    1    2    2     Red    5.0
2      7    1    1    2  Purple    4.0
3      8    2    2    3   Green    7.0
4     11    2    2    2    Pink    6.0
5     12    1    1    1  Orange    3.0
6     16    2    2    2    Blue    6.0
7     19    1    4    4   Green    9.0
8     21    3    3    5   Green   11.0
9     23    1    2    1    Blue    4.0

    index Q1_1 Q2_1 Q2_2    Q3.1  Total
0       2    1    1    2   Green    4.0
1       6    2    2    2   Green    6.0
2       9    6    6    3   Black   15.0
3      10    2    2    3    Blue    7.0
4      13    2    5    5  Orange   12.0
5      14    2    5    3     Red   10.0
6      15    3    5    5  Purple   13.0
7      17    1    2    1   Green    4.0
8      20    1    2    2     Red    5.0
9      22    3    3    4   Green   10.0
10     24    2    2    2  Purple    6.0
11     25    1    1    2    Blue    4.0

   index Q1_3 Q1_4 Q1_5    Q3.1  Total
0      4    2    2    2    Blue    6.0
1      5    1    4    1     Red    6.0
2      7    2    2    1  Purple    5.0
3      8    4    3    3   Green   10.0
4     11    2    3    3    Pink    8.0
5     12    1    2    4  Orange    7.0
6     16    3    3    2    Blue    8.0
7     19    4    4    4   Green   12.0
8     21    4    4    4   Green   12.0
9     23    2    2    2    Blue    6.0

    index Q1_3 Q1_4 Q1_5    Q3.1  Total
0       2    1    2    1   Green    4.0
1       6    4    4    2   Green   10.0
2       9    6    1    4   Black   11.0
3      10    3    3    2    Blue    8.0
4      13    4    5    4  Orange   13.0
5      14    4    6    3     Red   13.0
6      15    3    3    3  Purple    9.0
7      17    4    5    3   Green   12.0
8      20    5    3    3     Red   11.0
9      22    4    4    2   Green   10.0
10     24    1    2    1  Purple    4.0
11     25    2    2    2    Blue    6.0

   index Q1_2 Q2_3 Q2_4    Q3.1  Total
0      4    2    5    5    Blue   12.0
1      5    5    2    6     Red   13.0
2      7    3    1    1  Purple    5.0
3      8    5    5    3   Green   13.0
4     11    3    2    2    Pink    7.0
5     12    4    1    1  Orange    6.0
6     16    5    2    3    Blue   10.0
7     19    4    4    4   Green   12.0
8     21    3    3    5   Green   11.0
9     23    4    1    1    Blue    6.0

    index Q1_2 Q2_3 Q2_4    Q3.1  Total
0       2    2    1    1   Green    4.0
1       6    2    2    3   Green    7.0
2       9    3    5    1   Black    9.0
3      10    3    2    3    Blue    8.0
4      13    5    5    5  Orange   15.0
5      14    7    5    5     Red   17.0
6      15    3    6    3  Purple   12.0
7      17    2    1    2   Green    5.0
8      20    3    4    1     Red    8.0
9      22    3    2    5   Green   10.0
10     24    1    1    1  Purple    3.0
11     25    2    1    1    Blue    4.0

# Normally distributed.....?

In [172]:
def is_data_normal(dataframe):
    _, p_value = stats.shapiro(dataframe)
    
    significance_level = 0.05  # Adjust the significance level as needed
    
    if p_value > significance_level:
        return True
    else:
        return False

def normal_values(dataframe, column, data_type, version):
    # Retrieve the column data from the dataframe
    data = dataframe[column]

    # Check if the column data is normally distributed
    is_normal = is_data_normal(data)
    print(f"Is the {data_type} data for version {version} normally distributed?", is_normal)

In [173]:
normal_values(df_button_wide_a, "Total", "button click", "A")
normal_values(df_button_wide_b, "Total", "button click", "B")
normal_values(df_time_wide_a, "Total", "time", "A")
normal_values(df_time_wide_b, "Total", "time", "B")

normal_values(df_a_trust, "Total", "trust", "A")
normal_values(df_b_trust, "Total", "trust", "B")

Is the button click data for version A normally distributed? False
Is the button click data for version B normally distributed? True
Is the time data for version A normally distributed? True
Is the time data for version B normally distributed? True
Is the trust data for version A normally distributed? True
Is the trust data for version B normally distributed? True

# Mann-Whitney U test / Wilcoxon Rank-sum test

In [174]:
def conduct_test(group1, group2, alternative='greater'):
    _, p_value = stats.ranksums(group1, group2, alternative=alternative)
    
    significance_level = 0.05
    
    if p_value < significance_level:
        print(f"The p-value is {p_value}, and the significance level is {significance_level}")
        print("There is a significant difference between the groups.")
    else:
        print(f"The p-value is {p_value}, and the significance level is {significance_level}")
        print("There is no significant difference between the groups.")

def wrs_test(df_a, df_b, column):
    # Retrieve the column data from the dataframe
    a_data = df_a[column]
    b_data = df_b[column]

    # Perform the Wilcoxon rank-sum test
    conduct_test(a_data, b_data, alternative='greater')

### For buttons clicked

In [175]:
wrs_test(df_button_wide_a, df_button_wide_b, "Total")

The p-value is 0.442418061061308, and the significance level is 0.05
There is no significant difference between the groups.

# T-test

In [176]:
def welch_t_test(trust_a, trust_b):
    _, p_value = stats.ttest_ind(trust_a, trust_b, equal_var=False)
    
    significance_level = 0.05
    
    if p_value < significance_level:
        print(f"The p-value is {p_value}, and the significance level is {significance_level}")
        print("There is a significant difference between the groups.")
    else:
        print(f"The p-value is {p_value}, and the significance level is {significance_level}")
        print("There is no significant difference between the groups.")

### Trust

In [177]:
welch_t_test(df_a_trust["Total"], df_b_trust["Total"])

The p-value is 0.3164132180808314, and the significance level is 0.05
There is no significant difference between the groups.

### Time spent

In [178]:
welch_t_test(df_time_wide_a["Total"], df_time_wide_b["Total"])

The p-value is 0.3746122637642345, and the significance level is 0.05
There is no significant difference between the groups.

# Buttons v time spent

### A

### B

# == CODE GRAVEYARD ==

## Spearman Correlation - for when sample size is equal

In [179]:
def spr_calculation(x, y):
    correlation, p_value = stats.spearmanr(x, y)
    return correlation, p_value


def spearman_correlation(dataframe_a, column_a, dataframe_b, column_b):
    # Retrieve the column data from the dataframe
    a_data = dataframe_a[column_a]
    b_data = dataframe_b[column_b]

    # Compute the Spearman correlation
    correlation, p_value = spr_calculation(a_data, b_data)
    print(f"Spearman correlation coefficient: {correlation}")
    print(f"P-value: {p_value}")

### Trust

In [180]:
spearman_correlation(df_a_trust, "Total", df_b_trust, "Total")

ValueError: all the input array dimensions for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 10 and the array at index 1 has size 12

# Kendall Rank Correlation

In [ ]:
def calc_kt(trust_a, trust_b):
    correlation, p_value = stats.kendalltau(trust_a, trust_b)
    return correlation, p_value

def kendall_tau(dataframe_a, column_a, dataframe_b, column_b):
    # Retrieve the column data from the dataframe
    a_data = dataframe_a[column_a]
    b_data = dataframe_b[column_b]

    # Compute Kendall's tau
    correlation, p_value = calc_kt(a_data, b_data)
    print(f"Kendall's tau: {correlation}")
    print(f"P-value: {p_value}")

### Trust

In [ ]:
kendall_tau(df_a_trust, "Total", df_b_trust, "Total")

ValueError: All inputs to `kendalltau` must be of the same size, found x-size 10 and y-size 12